.img-nodo {
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-image: url('../../../../../../public/img/home-gif-3.gif');
  background-size: 28rem;
  background-repeat: no-repeat;
  background-position:center;
  }
  .img-nodo img {
    height: 580px;
  }
  
  @media only screen and (max-width: 576px) {

    .img-nodo{
      width: 100%; height: 95%;
      background-size: 26rem;
      background-position: bottom;
    }
  }