.header {
    display: flex;
    width: 100vw;
    height: 8vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.89);
    justify-content: space-around;
    align-items: center;
}

.logo-header {
    height: 7vh;
}

.bar-menu {
    display: none;
    color: white;
}


@media only screen and (max-width: 576px) {

    .logo-header {
        height: 6vh;
    }

    .bar-menu {
        width: 3rem;
        display: block;
        font-size: 28px;
    }
    
}