.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    position: fixed;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(7px);
}

.logo-header {
    height: 7vh;
    padding-left: 4rem;
}

.bar-menu {
    display: none;
    color: white;
}
.line {
    width: 60%; height: 1px;
    background-color: rgba(214, 185, 247, 0.808);
}


@media only screen and (max-width: 576px) {

    .logo-header {
        height: 8vh;
        padding-left: 2rem;
    }
    .line {
        display: none;
    }

    .bar-menu {
        height: 5vh;
        display: block;
        font-size: 28px;
        padding: 1.5rem 2.5rem;
        
    }
    
}