.nav {
    width: 33%;
    
}
.nav ul{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav ul li {
    list-style: none;
    padding: 1rem 1rem;
}
.nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2.4px;
    transition: color 0.2s;
}
.nav ul li a:hover {
    color: rgb(206, 173, 228);
}
