.services-header {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid rgb(187, 187, 187);
    border-radius: 25px;
}
.header-btn {
    padding: 1rem;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-weight: 600;
    margin: 0 1rem;
}
.icon {
    color: rgb(197, 148, 219);
    font-size: 35px;
}


@media only screen and (max-width: 576px) {
    .services-header {
        width: 85%;
        margin-bottom: 1rem;
    }
    .services-header div {
        font-size: 18px;
    }   
}